{% extends 'base.html' %}

{% block content %}
<div class="container" style="width:65%; align:center; margin: 0 auto; margin-top:35px;">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search Now:</legend>
                <div class="form-group">
                    {{ form.ssn.label(class='form-control-label') }}
                    {% if form.ssn.errors %}
                        {{ form.ssn(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.ssn.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ssn(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <div class="form-group" style="margin: 10px;">
                    {{ form.submit(class='btn btn-outline-info') }}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="border-top pt-3">
        {% if data %}
        <table class="table table-bordered border-primary">
            <thead>
            <tr>
                <th scope="col">Fname</th>
                <th scope="col">Lname</th>
                <th scope="col">Address</th>
                <th scope="col">Salary</th>
                <th scope="col">Birthdate</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ data.first_name }}</th>
                <td>{{ data.last_name }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.salary }}</td>
                <td>{{ data.birthdate }}</td>
            </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock content %}
